button {
  border-radius: 20px;
  background: rgb(255, 196, 0);
  border: none;
  padding: 10px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  margin: 5px;
}
button:hover {
  border-radius: 20px;
  background: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
  border: none;
  padding: 10px;
  margin: 5px;
}
input {
  border-radius: 5px;
  height: 30px;
  border: none;
  padding-left: 10px;
}
ul {
  color: white;
  text-align: center;
  font-size: 30px;
  list-style: none;
  align-items:center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul .li {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aliceblue;
}
body {
  background-color: rgb(94, 94, 94);
  text-align: center;
}
.textSussecs {
  background-color: rgb(53, 187, 0);
}
#DeleteAll {
  background-color: red;
  color: white;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
#DeleteAll:hover {
  color: red;
  background-color: white;
}
h1 {
  font-size: 70px;
  color: White;
  font-family: Arial, Helvetica, sans-serif;
}
